.search {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#random-button {
    margin-top: 10px;
}

.links {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#search-results {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.search-result {
    display: flex;
    flex-direction: column;
}

.result-hostname {
    padding: 0px;
    margin: 0px;
    color: gray;
}

body {
    margin: 30px;
}