.search {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.links {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

body {
    margin: 30px;
}